export(apt_get)
export(download_source)
export(fix_R2)
export(install_deps)
export(missing_latex)
export(pkg_branch)
export(pkg_commit)
export(pkg_db)
export(pkg_deps)
export(pkg_install)
export(recipes)
export(split_pkgs)
export(travis_end)
export(travis_fold)
export(travis_start)
